<div
  style="
    background-color: #eaebed;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
  "
>
  <table
    role="presentation"
    border="0"
    cellpadding="0"
    cellspacing="0"
    style="
      border-collapse: separate;
      min-width: 100%;
      background-color: #eaebed;
      width: 100%;
    "
    width="100%"
    bgcolor="#eaebed"
  >
    <tbody>
      <tr>
        <td
          style="font-family: sans-serif; font-size: 14px; vertical-align: top"
          valign="top"
        >
          &nbsp;
        </td>
        <td
          style="
            font-family: sans-serif;
            font-size: 14px;
            vertical-align: top;
            display: block;
            max-width: 580px;
            padding: 10px;
            width: 580px;
            margin: 0 auto;
          "
          width="580"
          valign="top"
        >
          <div style="padding: 20px 0">
            <table
              role="presentation"
              border="0"
              cellpadding="0"
              cellspacing="0"
              width="100%"
              style="border-collapse: separate; min-width: 100%; width: 100%"
            >
              <tbody>
                <tr>
                  <td
                    width="100%"
                    style="
                      font-family: sans-serif;
                      font-size: 14px;
                      vertical-align: top;
                      text-align: center;
                    "
                    valign="top"
                    align="center"
                  >
                    <a
                      href="#m_7860943156225405415_m_-8715560223438890752_"
                      style="color: #ec0867; text-decoration: underline"
                      ><img
                        src="https://ci5.googleusercontent.com/proxy/2_r8L47KjyiTjUyXLoJNVP985df7vNzovuvc0HykGu-_qSMiSjPsBPdxpeJbqAfllJokEOGdcga74Y8IiSAx9TacxQ_ygHndTK19jrx3AFKxvOi5GabK5g=s0-d-e1-ft#https://salientdashboardpm.mafi.ai/assets/logos/logo_company_dark.png"
                        height="80"
                        alt="Postdrop"
                        style="border: none; max-width: 100%"
                        class="CToWUd"
                        data-bit="iit"
                    /></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div
            style="
              box-sizing: border-box;
              display: block;
              margin: 0 auto;
              max-width: 580px;
              padding: 10px;
            "
          >
            <span
              style="
                color: transparent;
                display: none;
                height: 0;
                max-height: 0;
                max-width: 0;
                opacity: 0;
                overflow: hidden;
                width: 0;
              "
              >Daily Camera Report</span
            >
            <table
              role="presentation"
              style="
                border-collapse: separate;
                min-width: 100%;
                background: #ffffff;
                border-radius: 3px;
                width: 100%;
              "
              width="100%"
            >
              <tbody>
                <tr>
                  <td
                    style="
                      font-family: sans-serif;
                      font-size: 14px;
                      vertical-align: top;
                      box-sizing: border-box;
                      padding: 20px;
                    "
                    valign="top"
                  >
                    <table
                      role="presentation"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      style="
                        border-collapse: separate;
                        min-width: 100%;
                        width: 100%;
                      "
                      width="100%"
                    >
                      <tbody>
                        <tr>
                          <td
                            style="
                              font-family: sans-serif;
                              font-size: 14px;
                              vertical-align: top;
                            "
                            valign="top"
                          >
                            <p
                              style="
                                font-family: sans-serif;
                                font-size: 14px;
                                font-weight: normal;
                                margin: 0;
                                margin-bottom: 15px;
                              "
                            >
                              Welcome to Dashboard Report. A simple tool to keep
                              track of Salient Cameras.
                            </p>
                            <br />
                            <table
                              aria-label="simple table"
                              style="
                                border-collapse: separate;
                                min-width: 100%;
                                width: 100%;
                              "
                              width="100%"
                            >
                              <thead>
                                <tr>
                                  <th scope="col">Server</th>
                                  <th scope="col">Name</th>
                                  <th scope="col">Status</th>
                                  <th scope="col">Day(s)</th>
                                </tr>
                              </thead>
                              <tbody>
                                {{ row }}
                              </tbody>
                            </table>
                            <br /><br />
                            <p
                              style="
                                font-family: sans-serif;
                                font-size: 14px;
                                font-weight: normal;
                                margin: 0;
                                margin-bottom: 15px;
                              "
                            >
                              Report at 4 am today.
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>

            <div
              style="
                clear: both;
                margin-top: 10px;
                text-align: center;
                width: 100%;
              "
            >
              <table
                role="presentation"
                border="0"
                cellpadding="0"
                cellspacing="0"
                style="border-collapse: separate; min-width: 100%; width: 100%"
                width="100%"
              >
                <tbody>
                  <tr>
                    <td
                      style="
                        font-family: sans-serif;
                        vertical-align: top;
                        padding-bottom: 10px;
                        padding-top: 10px;
                        color: #9a9ea6;
                        font-size: 12px;
                        text-align: center;
                      "
                      valign="top"
                      align="center"
                    >
                      Powered by&nbsp;<a
                        href="https://www.mafi.ai"
                        style="
                          color: #9a9ea6;
                          font-size: 12px;
                          text-align: center;
                          text-decoration: none;
                        "
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=https://www.mafi.ai&amp;source=gmail&amp;ust=1682960254853000&amp;usg=AOvVaw1JTgQ-SwgVWQyAPg_svTym"
                        >Mafi Technologies</a
                      >. <br /><span
                        style="
                          color: #9a9ea6;
                          font-size: 12px;
                          text-align: center;
                        "
                        >Artificial Intelligence made Easy</span
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </td>
        <td
          style="font-family: sans-serif; font-size: 14px; vertical-align: top"
          valign="top"
        >
          &nbsp;
        </td>
      </tr>
    </tbody>
  </table>
  <img
    width="1px"
    height="1px"
    alt=""
    src="https://ci6.googleusercontent.com/proxy/cBC-ql-1yNuZ-mCtLIBR3jY55n4mt-QD5wF5070zQDfusJW_7kgVPhuxTJYwa7imy20x2NSe4dlnYH85BMOF-nDulSbR9GOLA9iccgRL80cI_p_9XVvFboptZwVig3x5ZaWhmQFFyTcLSQMaSs3H7MMTTkV_lopDnNniW-y2pvh0nwf-ZUhccjGze19v7WnFS9aXJvGwCBdOgqDlXxu8MB0OqXZaVaPY7JJF56h3WEZV3GuWDHbO_NcQTp2-g_O-F5Bks4dQL3VA8oSe1C0GvA=s0-d-e1-ft#http://track.send.postdrop.io/o/eJwEwF0OgyAMAODTyCPpn7Q8cBgsuJmoGNn9s68VYNTsoRdMBkiJsoZvgcQbgeXdiFOvXXbZqncTdUdtGI5CQAxMmVBk1YjWMnpVYDfF1RaB2e8WnzF_7R1PPEZ4y1Xfc9w-F4HPVY8z-rj-AQAA___quSV4"
    class="CToWUd"
    data-bit="iit"
  />
</div>
